@charset "UTF-8";
:root {
  font-family: monospace;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-size: calc(0.68rem + 0.75vh);
}

button {
  padding-inline: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  color: lightgray;
  border-radius: 0.4rem;
  border: 2px solid hsl(0deg, 0%, 45%);
  background-color: hsl(0deg, 0%, 30%);
}
button:hover, button:focus-visible {
  background-color: hsl(0deg, 0%, 35%);
}
button:active {
  background-color: hsl(0deg, 0%, 25%);
}

input {
  font-size: inherit;
  font-family: inherit;
  color: lightgray;
  border-radius: 0.4rem;
  border: 2px solid hsl(0deg, 0%, 55%);
  background-color: hsl(0deg, 0%, 40%);
}

.container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1; */
}

canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
.popupButton {
  position: relative;
}
.popupButton .popupLabel {
  display: none;
}
.popupButton.popup .popupLabel {
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 100;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.4rem;
  padding-inline: 0.2rem;
  bottom: 100%;
  left: 50%;
  color: hsl(120deg, 100%, 67%);
  border-radius: 0.4rem;
  border: 2px solid hsl(120deg, 15%, 50%);
  background-color: hsl(120deg, 11%, 27%);
  opacity: 1;
  transform: translateX(-50%);
  -webkit-animation: fadeOut ease-out forwards 1s;
          animation: fadeOut ease-out forwards 1s;
}
.popupButton.popup.warning .popupLabel {
  color: hsl(0deg, 100%, 67%);
  border: 2px solid hsl(0deg, 15%, 50%);
  background-color: hsl(0deg, 11%, 27%);
}

.inputs {
  pointer-events: none;
  overflow-x: auto;
  overflow-y: clip;
  display: grid;
  grid: auto/1fr -webkit-min-content auto;
  grid: auto/1fr min-content auto;
  align-items: start;
  align-self: end;
  position: absolute;
  margin: 0.4rem;
  padding: 0.6rem;
  max-width: 100%;
  max-height: 100%;
  font-weight: 600;
  color: white;
  border-radius: 0.6rem;
  background-color: hsla(0deg, 0%, 30%, 0.8);
}
.inputs * {
  pointer-events: all;
}
.inputs > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6ch;
  align-self: stretch;
  margin-left: 0.8rem;
  text-orientation: sideways;
  -ms-writing-mode: sideways-lr;
      writing-mode: sideways-lr;
}
.inputs > button::before, .inputs > button::after {
  content: "⯆";
  transition: transform 0.3s;
}
.inputs > button[aria-expanded=true]::before, .inputs > button[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.inputs .disclosureContent {
  box-sizing: border-box;
  transition-property: width, padding-left;
}
.inputs .disclosureContent.hidden {
  padding-left: 0;
}
.inputs .disclosureContent .panel {
  padding-left: 0.8rem;
}

.panel {
  pointer-events: none;
  display: grid;
  /* flex-direction: column; */
  gap: 0.6ch;
  grid: auto auto auto/auto auto auto 1fr;
  align-items: center;
  /* left: 0;
  			top: 0; */
}
.panel * {
  --span: span 1;
  --column: ;
  grid-column: var(--column) var(--span);
  justify-self: start;
}
.panel li {
  display: contents;
}
.panel li > :first-child {
  grid-column: 1;
}
.panel button {
  justify-self: start;
}
.panel .value {
  font-size: 1.3rem;
  font-weight: 400;
}
.panel .newRow {
  --column: 1 /;
}
.panel .span2 {
  --span: span 2;
}
.panel .span3 {
  --span: span 3;
}
.panel .span4 {
  --span: span 4;
}

.together {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  grid-column: span 3;
}

#resetButton {
  justify-self: end;
}

.short {
  justify-self: stretch;
  max-width: 10ch;
}

.container:not(.failed) .failedDisplay {
  display: none;
}

.failedDisplay {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  align-self: start;
  margin: 0.4rem;
  padding: 0.6rem;
  color: white;
  border-radius: 0.6rem;
  background-color: hsla(0deg, 0%, 30%, 0.8);
}
.failedDisplay .errorLabel {
  font-size: 1.5rem;
  font-weight: 700;
  color: crimson;
}
.failedDisplay .errorReason {
  font-size: 1.1rem;
}

.disclosureContent {
  overflow: clip;
  position: relative;
  width: 100%;
  transition: none 0.3s ease-in-out;
  transition-property: width;
}
.disclosureContent.hidden {
  width: 0;
}
.disclosureContent.stretchContent {
  height: var(--height);
  max-width: 100%;
  min-width: 100%;
}
.disclosureContent.stretchContent > .animationContainer {
  height: 100%;
}
.disclosureContent.stretchContent > .animationContainer > .measuringWrapper {
  height: 100%;
}

.imagePreview {
  overflow: clip;
  box-sizing: border-box;
  height: 5rem;
  border-radius: 0.6rem;
  border: 2px solid hsl(0deg, 0%, 45%);
}
.imagePreview:not(.active) {
  display: none;
}
.imagePreview img {
  box-sizing: border-box;
  height: 100%;
}/*# sourceMappingURL=style.css.map */