@use 'sass:color';
@use 'sass:math';

@mixin darkTheme {
	color-scheme: dark;

	--accentColor1: hsl(218.9, 80%, 63.1%);

	// --headerBackground1: #{exponent-gradient(
	// 		90deg,
	// 		hsl(216, 20%, 12.5%),
	// 		hsl(205, 45%, 10%),
	// 		2,
	// 		20
	// 	)} top right;
	--headerBackgroundColor1: hsl(216, 20%, 12.5%);
	// --headerBackground1: linear-gradient(40deg, hsl(216, 20%, 12.5%), fuchsia);
	--menuBackground1: hsl(216, 17%, 20%);
	--menuBackground2: hsl(216, 17%, 14%);

	--menuBorder1: hsl(216, 20%, 30%);

	--menuTextColor1: hsla(210, 20%, 85%, 0.7);
	--menuTextColor2: hsla(210, 80%, 82%, 0.7);

	--menuPressedBackground1: hsl(94, 10%, 16%);
	--menuPressedBorder1: hsl(94, 15%, 22%);

	--menuHoverTextColor1: hsla(210, 20%, 96%, 0.9);
	--menuHoverTextColor2: hsla(210, 80%, 82%, 0.9);

	--menuHoverBackground1: hsl(216, 20%, 26%);
	--menuActiveBackground1: hsl(216, 20%, 23%);

	--menuColorBackground1: hsl(0, 33%, 20%);
	--menuColorBorder1: hsl(0, 50%, 30%);

	--menuColorBackground2: hsl(94, 33%, 25%);
	--menuColorBorder2: hsl(94, 40%, 35%);

	--menuColorHoverBackground1: hsl(0, 33%, 26%);
	--menuColorActiveBackground1: hsl(0, 33%, 23%);

	--menuColorHoverBackground2: hsl(94, 33%, 26%);
	--menuColorActiveBackground2: hsl(94, 33%, 23%);

	--menuColorColor1: hsl(0, 60%, 55%);

	--menuColorColor2: hsl(94, 40%, 55%);

	--contentHeaderBackground1: hsl(216, 20%, 13%);

	--contentBackground1: hsl(216, 15%, 12%);
	--contentBackground2: hsl(216, 15%, 11%);
	--contentBackground3: hsl(216, 15%, 10%);
	--contentBorder1: hsl(216, 15%, 24%);
	--contentBorder2: hsl(216, 15%, 19%);
	--contentBorder3: hsl(216, 15%, 16%);

	--contentColoredBackground1: hsl(180, 20%, 16%);
	--contentColoredBackground2: hsl(180, 20%, 14.5%);
	--contentColoredBackground3: hsl(180, 20%, 13%);
	--contentColoredBorder1: hsl(180, 20%, 23%);
	--contentColoredBorder2: hsl(180, 20%, 21%);
	--contentColoredBorder3: hsl(180, 20%, 18%);

	--contentBackdropBackground1: hsl(120, 16.1%, 20.4%);
	--contentBackdropBackground2: hsl(120, 14.5%, 17.1%);
	--contentBackdropBackground3: hsl(120, 14.1%, 15.1%);

	--listBackground1: hsl(216, 24%, 10%);
	--listBackground2: hsl(216, 24%, 7%);
	--listBorder1: hsl(216, 24%, 15%);

	--listColoredBackground1: hsl(180, 28%, 13%);
	--listColoredBackground2: hsl(180, 28%, 10%);
	--listColoredBorder1: hsl(180, 32%, 15%);

	// Every other color is meant to be a compliment to the previous color.
	--highlightContentBackground1: hsl(216, 15%, 12%);
	--highlightContentBackground2: hsl(216, 25%, 8%);
	--highlightContentBackground3: hsl(216, 15%, 18%);
	--highlightContentBackground4: hsl(216, 25%, 13%);
	--highlightContentBackground5: hsl(216, 15%, 22%);
	--highlightContentBackground6: hsl(216, 25%, 16%);

	--highlightContentBorder1: hsl(216, 15%, 26%);
	--highlightContentBorder2: hsl(216, 15%, 36%);

	// Every other color is meant to be a compliment to the previous color.
	--highlightColorContentBackground1: hsl(147, 90%, 50%);
	--highlightColorContentBackground2: hsl(157, 100%, 40%);
	--highlightColorContentBackground3: hsl(147, 88%, 60%);
	--highlightColorContentBackground4: hsl(157, 95%, 43%);
	--highlightColorContentBackground5: hsl(147, 75%, 70%);
	--highlightColorContentBackground6: hsl(157, 85%, 50%);

	--highlightColorContentBorder1: hsl(147, 40%, 26%);
	--highlightColorContentBorder2: hsl(147, 70%, 36%);

	--infoBackground1: hsla(210, 20%, 30%, 0.7);
	--infoBorder1: hsla(210, 60%, 70%, 0.8);

	--infoColor1: hsl(210, 90%, 70%);

	--textColor: hsl(210, 10%, 78%);
	--textGrayColor: hsl(219, 3%, 65%);
	--textBoldColor: hsl(209, 20%, 85%);

	--textAccentColor: hsl(210, 70%, 80%);
	--textBoldAccentColor: hsl(209, 80%, 80%);

	--textLowerColor1: hsl(210, 10%, 20%);

	--textColoredBackgroundColor: hsl(210, 30%, 18%);
	--textColoredBackgroundGrayColor: hsl(210, 15%, 28%);
	--textColoredBackgroundBoldColor: hsl(0, 50%, 5%);

	--textDisabledColor: hsl(210, 3%, 40%);

	--titleTextColor: hsl(222, 60%, 98%);
	--titleTextGrayColor: hsl(215, 16%, 82%);

	--coloredTextColor1: var(--coloredTextSecondaryColor1);
	--coloredTextColor2: var(--coloredTextSecondaryColor2);

	--coloredTextHoverColor1: var(--coloredTextSecondaryHoverColor1);
	--coloredTextHoverColor2: var(--coloredTextSecondaryHoverColor2);

	--coloredTitleTextColor1: var(--coloredTitleTextSecondaryColor1);
	--coloredTitleTextColor2: var(--coloredTitleTextSecondaryColor2);

	--coloredTitleTextHoverColor1: var(--coloredTitleTextSecondaryHoverColor1);
	--coloredTitleTextHoverColor2: var(--coloredTitleTextSecondaryHoverColor2);

	--successTextColor1: hsl(120, 40%, 60%);
	--errorTextColor1: hsl(0, 90%, 70%);

	--shadowLightColor: hsl(300, 100%, 50%);
	--shadowColor: hsl(0, 0%, 4%);
	--shadowDarkColor: hsl(0, 0%, 2.5%);
	--shadowBlackColor: hsl(0, 0%, 0%);

	--mdColor1: var(--mdSecondaryColor1);
	--mdInactiveColor1: var(--mdInactiveSecondaryColor1);

	--targetBackground1: hsl(210, 30%, 60%);

	--focusColor1: hsl(192, 100%, 40%);
	--focusColor2: hsla(192, 100%, 60%, 0.4);

	--highlightOverlayColorSubtle: hsla(0, 0%, 40%, 0.15);

	--linkNormal: var(--linkSecondaryNormal);
	--linkHover1: var(--linkSecondaryHover1);
	--linkHover2: var(--linkSecondaryHover2);
	--linkVisited: var(--linkSecondaryVisited);

	--documentColor1: hsl(94, 30%, 72%);
	--documentVisitedColor1: hsl(150, 40%, 72%);
	--documentHoverColor1: var(--linkHover1); // hsl(10, 80%, 65%);
	--documentHoverColor2: var(--linkHover2); // hsl(320, 80%, 65%);

	--buttonBackground1: hsl(216, 20%, 20%);
	--buttonBorder1: hsl(216, 10%, 28%);

	--buttonColor1: hsl(216, 16%, 80%);

	--buttonHoverBackground1: hsl(216, 20%, 16%);
	--buttonHoverColor1: hsl(216, 20%, 75%);

	--buttonActiveBackground1: hsl(216, 20%, 11%);

	--buttonDisabledBackground1: hsl(216, 12%, 17%);
	--buttonDisabledBorder1: hsl(216, 12%, 23%);
	--buttonDisabledColor1: hsl(216, 10%, 62%);

	--highlightButtonBackground1: hsl(94, 33%, 25%);
	--highlightButtonBorder1: hsl(94, 20%, 35%);

	--highlightButtonHoverBackground1: hsl(94, 38%, 28%);
	--highlightButtonActiveBackground1: hsl(94, 33%, 23%);

	--highlightButtonDisabledBackground1: hsl(94, 6%, 20%);
	--highlightButtonDisabledBorder1: hsl(94, 4%, 26%);

	--deleteButtonColor1: hsl(0, 60%, 60%);
	--deleteButtonColor2: hsl(0, 60%, 60%);
	--deleteButtonBorder1: hsl(0, 20%, 45%);
	--deleteButtonBackground1: hsl(210, 10%, 30%);

	--textButtonHoverBackground1: hsla(0, 0%, 60%, 0.5);
	--textButtonActiveBackground1: hsla(0, 0%, 40%, 0.6);

	--inputBackground1: hsl(216, 15%, 17%);
	--inputBackground2: hsl(216, 10%, 12%);
	--inputHoverBackground1: hsl(216, 8%, 20%);
	--inputHoverBackground2: hsl(216, 8%, 15%);
	--inputActiveBackground2: hsl(216, 5%, 10%);
	--inputBorder: hsl(216, 15%, 23%);
	--inputHoverBorder1: hsl(216, 15%, 25%);

	--inputInactiveBackground1: hsl(216, 10%, 8%);
	--inputInactiveBorder1: hsl(216, 15%, 17%);

	--inputFocusColor1: hsl(214, 100%, 30%);
	--inputFocusColor2: hsl(0, 0%, 45%);
	--inputFocusColor3: hsl(204, 50%, 50%);

	--inputCheckedBackground1: hsl(214, 100%, 30%);
	--inputCheckedHoverBackground1: hsl(214, 100%, 40%);
	--inputCheckedActiveBackground1: hsl(214, 100%, 48%);

	--inputCheckedColor1: hsl(214, 0%, 100%);

	--modifiedBorder: hsl(40, 35%, 35%);
	--modifiedFocusColor1: hsl(40, 100%, 40%);
	--modifiedFocusColor2: hsla(40, 100%, 60%, 0.4);

	--newBorder: hsl(110, 30%, 30%);
	--newFocusColor1: hsl(100, 60%, 40%);
	--newFocusColor2: hsla(100, 60%, 60%, 0.4);

	--newHighlightBackground: hsl(110, 25%, 40%);

	--invalidBackground1: hsl(0, 20%, 35%);
	--invalidBorder1: hsl(0, 30%, 35%);
	--invalidColor1: hsl(0, 80%, 65%);

	--requiredColor1: hsl(0, 80%, 60%);

	--syntaxBackground: hsl(207, 95%, 8%);
	--syntaxBorder: hsl(207, 60%, 14%);

	--syntaxNameColor: hsl(170, 67%, 75%);
	--syntaxStringColor: hsl(64, 92%, 77%);
	--syntaxStringMarkColor: hsl(76, 60%, 96%);
	--syntaxEscapedChar: hsl(35, 80%, 66%);

	--syntaxNumberColor: hsl(24, 74%, 54%);
	--syntaxBooleanColor: hsl(345, 72%, 46%);
	--syntaxNullColor: hsl(290, 69%, 57%);

	--syntaxBracketColor: hsl(210, 50%, 88%);
	--syntaxOperatorColor: hsl(276, 70%, 88%);
	--syntaxPunctuation: hsl(240, 100%, 92%);
}

:root {
	@include darkTheme();
}
